* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: lightgray;
    border:1px solid black;
    flex-direction: column;
    gap:40px;
    margin-top:100px;
}
div{
    font-size: 70px;
    color:black;
    font-family:"Bebas Neue", cursive;
    
}
button{
    padding: 10px 20px;
    font-size: 50px;
    background-color:orange;
    color: white;
    border: 3px solid brown;
    border-radius: 999px;
    cursor: pointer;
    width: 800px;
    height:100px;
    color:brown;
    font-family:"Bebas Neue", cursive;
}